<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
	</head>
	<body>
		<nav>
			<div class="site-title">
				<a href="/"><h1>Blog</h1></a>
				<p>A normal blog site</p>
			</div>
		</nav>
		<ul>
			<li><a href="/">Blog</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blogs/create">New Blog</a></li>
		</ul>

		<div class="blogs content">
			<h2><%= blog.title %></h2>
			<p><%= blog.body %></p>
			<a
				id="delete-btn"
				href="/blogs/<%= blog._id %>"
				data-doc="<%= blog._id %>"
				>delete</a
			>
		</div>

		<script>
			const trashcan = document.getElementById("delete-btn");

			trashcan.addEventListener("click", (e) => {
				const endpoint = `/blogs/${trashcan.dataset.doc}`;

				fetch(endpoint, {
					method: "DELETE",
				})
					.then((response) => response.json())
					.then((data) => (window.location.href = data.redirect))
					.catch((err) => console.log(err));
			});
		</script>
	</body>
</html>
